/* Contact Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

body {
  background: #fdfdfd;
  color: #111;
}

header nav{
  margin-right: 10em;
}

/* Hero Section */
.hero {
  position: relative;
  height: 100vh;
  background: url("../images/contact_hero.png") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(2px);
}

.hero .content {
  position: relative;
  z-index: 2;
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
}

.hero .content h1 {
  font-family: "Bebas Neue";
  font-size: 70px;
  white-space: nowrap;
  margin: 0 auto;
  margin-left: 0em;
  font-weight: 400;
  margin-bottom: 20px;
}

.hero .content p {
  width: 100%;
  font-size: 25px;
  line-height: 1.6;
}

/* Help Section */
.help-section {
  padding: 60px 20px;
}

.help-heading {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Bebas Neue";
  margin-bottom: 40px;
  color: #1e293b;
}

.gradient-text {
  font-family: "Bebas Neue";
  background: linear-gradient(to right, #fca311, #38bdf8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin-bottom: 50px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  flex: 1 1 300px;
  max-width: 350px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

.card img {
  width: 100%;
  height: 100%;
}

.card-content {
  background: #00312e;
  color: white;
  padding: 30px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content h3 {
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #ffb703;
}

.card-content p {
  font-family: "Merriweather";
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
  flex-grow: 1;
}

/* Chat With Us */
.chat-button {
  display: inline-block;
  padding: 2px;
  border-radius: 3px;
  background: linear-gradient(to right, #53b1b1, #f8f6f0, #3cbebe);
  transition: transform 0.3s ease;
  margin-bottom: 15px;
}

.chat-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #f8f6f0;
  background: #f69000;
  transition: fill 0.4s ease, transform 0.3s ease;
}

.chat-button:hover {
  color: #f69000;
  transform: scale(1.05);
}

/* Visit Our Support Center */
.visit-support-center {
  display: inline-block;
  padding: 2px;
  border-radius: 3px;
  background: linear-gradient(to right, #f69000, #53b1b1);
  transition: transform 0.3s ease;
}

.vst-spprt-cntr-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #f8f6f0;
  background: #00312e;
  transition: background 0.3s ease, color 0.3s ease;
}

.visit-support-center:hover {
  transform: scale(1.05);
}

/* Join the Dialogue */
.join-dialogue-button {
  display: inline-block;
  padding: 2px;
  border-radius: 3px;
  background: linear-gradient(to right, #f69000, #53b1b1);
  transition: transform 0.3s ease;
  margin-bottom: 15px;
}

.jn-dlg-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #f8f6f0;
  background: #00312e;
  transition: background 0.3s ease, color 0.3s ease;
}

.join-dialogue-button:hover {
  transform: scale(1.05);
}

/* Learn How to Contribute */
.learn-to-contribute {
  display: inline-block;
  padding: 2px;
  border-radius: 3px;
  background: linear-gradient(to right, #53b1b1, #f8f6f0, #3cbebe);
  transition: transform 0.3s ease;
}

.lrn-cntrbt-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #f8f6f0;
  background: #f69000;

  transition: fill 0.4s ease, transform 0.3s ease;
}

.learn-to-contribute:hover {
  color: #f69000;
  transform: scale(1.05);
}

/* Help Section Buttons */
.chat-btn,
.vst-spprt-cntr-btn,
.jn-dlg-btn,
.lrn-cntrbt-btn {
  display: block;
  width: 100%;
  text-align: center;
  padding: 12px 0;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease, color 0.3s ease;
}

.chat-button,
.visit-support-center,
.join-dialogue-button,
.learn-to-contribute {
  border-radius: 5px;
}

.chat-button:hover,
.visit-support-center:hover,
.join-dialogue-button:hover,
.learn-to-contribute:hover {
  transform: scale(1.03);
}

/* Corporate Contacts */
.contacts {
  margin-top: 70px;
  text-align: center;
  margin-bottom: 150px;
}

.contacts h2 {
  font-size: 26px;
  margin-bottom: 30px;
  color: #02464d;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.contact-item p {
  margin: 5px 0;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-item a {
  color: #f69000;
  text-decoration: none;
  font-weight: bold;
}

.contact-item a:hover {
  text-decoration: underline;
}

.gradient-separator {
  height: 3px;
  border-top: 3px solid transparent;
  border-image: linear-gradient(to right, #fca311, #38bdf8) 1;
  margin: 40px auto;
  width: 90%;
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}

.project-leader h3 {
  margin-bottom: 10px;
}

.project-leader a {
  color: #f69000;
  text-decoration: none;
  font-weight: bold;
}

.project-leader a:hover {
  text-decoration: underline;
}

/* Talk To Us Section */
.talk-to-us {
  padding: 60px 20px;
  background: #00312e;
  color: white;
  text-align: center;
  margin-bottom: 100px;
}

.talk-heading {
  font-family: "Bebas Neue";
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.talk-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.talk-card {
  background: #fdfdfd;
  color: #111;
  border-radius: 5px;
  padding: 25px;
  max-width: 300px;
  flex: 1 1 250px;
  text-align: left;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 70px;
}

.talk-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

.talk-card h3 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #111;
}

.talk-card p {
  font-family: "Merriweather";
  font-size: 14px;
  margin-bottom: 15px;
  line-height: 1.6;
}

.talk-card a {
  font-family: "Merriweather";
  color: #f69000;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

.talk-card a:hover {
  text-decoration: underline;
}

/* Reach Out Button */
.reachout-button {
  display: inline-block;
  padding: 2px;
  border-radius: 3px;
  background: linear-gradient(to right, #53b1b1, #f8f6f0, #3cbebe);
  transition: transform 0.3s ease;
}

.rchout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #f8f6f0;
  background: #f69000;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 55px;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  box-sizing: border-box;
  transition: fill 0.4s ease, transform 0.3s ease;
}

.reachout-button:hover {
  color: #f69000;
  transform: scale(1.05);
}

/* Map Section */
.map-section {
  padding: 60px 20px;
  background: linear-gradient(
    to bottom,
    rgba(252, 163, 17, 0.2),
    rgba(56, 189, 248, 0.2)
  );
}

.map-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 1100px;
  margin: 0 auto;
}

.map-border {
  flex: 1 1 400px;
  padding: 30px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #ff9d00, #38bdf8);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.map-border iframe {
  display: block;
  width: 100%;
  height: 500px;
  border: none;
  border-radius: 5px;
}

.map-info {
  flex: 1 1 400px;
  color: #02464d;
}

.map-info h2 {
  font-family: "Bebas Neue";
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
  background: linear-gradient(to bottom, #fca311, #38bdf8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: center;
}

.map-info p {
  font-family: "Merriweather";
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #222;
  text-align: center;
}

.contact-list {
  list-style: none;
  padding-left: 50px;
  margin: 0;
  line-height: 3;
}

.contact-list li {
  font-family: "Merriweather";
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-bottom: 12px;
  color: #222;
}

.contact-list svg {
  margin-right: 10px;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
}
